.DS_Store
.classpath
.project
target/
.idea/
*.iml
*~
src/main/solr/lib/
.gradle
.settings
.*.swp
workbench.xmi
build
derby.log
metastore_db
__pycache__/
src/main/python/tf/model.zip
src/main/python/tf/util/spark.conf
src/main/python/tf/model/graph/
src/main/python/tf/model/category/
